@media (max-width: 600px){
  .header-menu{
    gap: 0 50px;
    justify-content: center;
} 
  .nav-menu{
    gap: 20px;
}
  .nav-menu li{
    background:var(--cor-c5);
    border-radius: 4px;
    margin-top: 20px;
    padding: 10px 10px 8px 10px;
    transition: .4s;
}
  .nav-menu li:hover{
    background: var(--cor-c4);
}
  .nav-menu li::after{
    display: none;
  }
  .nav-menu li a::after{
    display: none;
  }
}

@media (max-width: 400px){
  .nav-menu{
    font: 700 0.875rem 'Roboto';
  }
}



/* Main */

@media (max-width: 1140px){
  .col-grid{
    gap: 70px;
  }
  .mapa{
    width: 500px;
    bottom: 50px;
    left: 17px;
    box-shadow: 0 5px 5px var(--cor-c2);
    position: relative;
    margin-right: 30px;
  }
  .destaque-aulas h1{
    margin-bottom: 40px;
    line-height: 0.875;
    font: 3.8rem 'Alice';
  }
  .icones-img{
    font-size: 1.12rem;
  }
  .icones-img li{
    gap: 10px;
  }
  .destaque-aulas p{
    color: var(--cor-c4);
    font: 0.875rem 'Nunito sans';
    letter-spacing: 1px;
    line-height: 1.3;
    margin-bottom: 25px;
  }
}