body {
  box-sizing: border-box;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
blockquote,
p,
ul,
li,
span, 
input, label{
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  display: block;
  width: 100%;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.horario-bg{
  background-color: var(--cor-a1);
  padding: 7px 20px;
}
